h2 {
  color: #2c3e50;
  text-align: center;
  margin-top: 40px;
}

p {
  text-align: center;
  font-size: 17px;
  color: #555;
}

.home-box {
  max-width: 600px;
  margin: 40px auto;
  padding: 25px;
  background-color: #f9fbff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}
